.common-box {
  padding: 10px;
  border-radius: 5px;
}

.common-box-left-text {
  font-weight: 700;
}

.common-box-right-text {
  float: right;
  font-size: 14px;
}

.success-box {
  border: 1px solid #15af26;
}

.success-text {
  color: #15af26;
}
