.alerts-border {
  border: 1px #FFF solid;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

@keyframes blink { 50% { border-color:#fff ; }  }

.alerts-text {
  color: #ff0000;
  font-weight: bold;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

@keyframes blink { 
  50% { 
    box-shadow: 1px 1px 1px 1px  #ff000088;
    border-color:#ff0000; 
    color: #ff0000;
  }  
}
.clock{
  width:150px; 
  height:150px; 
  display:flex; 
  justify-content: center; 
  align-items: center; 
  background: url("../../assets/clock.png");
  background-size: cover;
  border: 4px solid #091921;
  box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
              inset 0 -15px 15px rgba(255,255,255,0.05),
              0 -5px 15px rgba(0,0,0,0.3),
              inset 0 15px 15px rgba(0,0,0,0.3);
  border-radius: 50%;
  margin: 0 auto;
}

.clock:before {
  content: '';
  position: absolute;
  width:15px;
  height:15px;    
  background:#091921;
  border-radius: 50%;
  z-index : 10;
}

.clock .hour,
.clock .min,
.clock .sec{
  position: absolute;
}

.clock .hour .hr{
  width : 80px;
  height : 80px;
}

.clock .min .mn{
  width : 100px;
  height : 100px;
}

.clock .sec .sc{
  width : 120px;
  height : 120px;
}

.hr, .mn, .sc{
  display:flex; 
  justify-content: center; 
  border-radius: 50%;
}

.hr:before{
  content: '';
  position: absolute;
  width:8px;
  height:60px;    
  background:#ff105e;
  z-index : 10;
  border-radius: 6px 6px 0 0;
}

.mn:before{
  content: '';
  position: absolute;
  width:4px;
  height:70px;    
  background:#ff105e;
  z-index : 10;
  border-radius: 6px 6px 0 0;
}

.sc:before{
  content: '';
  position: absolute;
  width:2px;
  height:70px;    
  background: #091921;
  z-index : 10;
  border-radius: 6px 6px 0 0;
}