.tableFont {
  text-align: center;
  font-size: 14px;
}

.buttonSuccess {
  color: "#FFF"
}



.cardHeader {
  height: 80px;
}

.cardHeaderText {
  line-height: 50px;
  color: #0e5553;
  cursor: pointer;
}

.cardBodyText {
  font-size: 14px;
  font-weight: bold;
}


.cardBody {
  height: 100px;
}

