.common-box {
  padding: 10px;
  border-radius: 5px;
}

.common-box-left-text {
  font-weight: 700;
  font-size: 14px;
}

.common-box-right-text {
  float: right;
  font-size: 14px;
  font-weight: 700;
}

.success-box {
  border: 1px solid #15af26;
}

.success-left-text {
  color: #15af26;
}

.success-right-text {
  color: #878D96;
}

.warning-box {
  background-color: #F79D10;
}

.warning-left-text {}

.warning-right-text {}

.danger-box {
  background-color: #DC3D3D;
}

.danger-left-text {
  color: #ffffff;
}

.danger-right-text {
  color: #ffffff;
}

.broken-box {
  background-color: #FF368D;
}

.broken-left-text {
  color: #ffffff;
}

.broken-right-text {
  color: #ffffff;
}

.route-box {
  background-color: #B1B7C1;
}

.route-left-text {
  color: #ffffff;
}

.route-right-text {
  color: #ffffff;
}




