.real-common-text {
  font-size: 14px;

}

.over-text {
  min-width:  80px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  height: 20px;
}

.float-right {
  float: right;
}

.margin-top {
  margin-top: 5px;
}


.real-success-box {
  border-top: 1px solid #15af26;
  border-bottom: 1px solid #15af26;
  border-right: 1px solid #15af26;
}

.real-success-font {
  font-weight: bold;
  color: #15af26;
}


.real-warning-box {
  border-top: 1px solid #F69D0D;
  border-bottom: 1px solid #F69D0D;
  border-right: 1px solid #F69D0D;
}

.real-warning-font {
  font-weight: bold;
  color: #F69D0D;
}


.real-danger-box {
  border-top: 1px solid #E55353;
  border-bottom: 1px solid #E55353;
  border-right: 1px solid #E55353;
}

.real-danger-font {
  font-weight: bold;
  color: #E55353;
}


