.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}

/* header */
.sessionTime { 
	position:fixed;
	bottom:10px;
	right:10px;
	color:#cc2f36;
	opacity:.5;
  z-index:9;
  font-weight:bold;
}
